# This version of the printer.cfg of the ELEGOO Neptune 3 Plus has been improved by SmartHome42/Printernbeer (Julien Mairy) 
# YouTube : https://www.youtube.com/@printernbeer
# Facebook page : https://www.facebook.com/Smarthome42
# Instagram : https://www.instagram.com/mairyjulien/
# TikTok : https://www.tiktok.com/@julienmairy 
# https://www.youtube.com/@tomsbasement 
# For a possible update check here: https://drive.google.com/drive/folders/1INA_ENxjiAfpFXLbg-fL4cn2lD2i2Hbl?usp=drive_link
# This date from Version 30SEP2023
# With the help of Max Vaillant, thanks to him for the tests
#For the ZNP Robin Nano DW v2.2 board:
#   - Compile with the processor model STM32F401.
#   - Select the 32KiB bootloader,
#   - Select (Serial (on # USART1 PA10/PA9) for the communication interface.
#   - Select (Serial (on # USART2 PA3/PA2) if you want to use the serial UART pins on J17 (wifi section)
# Note that the "make flash" command does not work with ZNP Robin boards. After running "make", run the following command:
# cp out/klipper.bin out/ZNP_ROBIN_NANO.bin
#
# Copy the file out/ZNP_ROBIN_NANO.bin to an SD card and then restart the printer with that SD card.
# See docs/Config_Reference.md for a description of parameters.


#####################################################################
# 	Base Config
#####################################################################

#[include timelapse.cfg]
[include mainsail.cfg]

[display_status]

[mcu]
serial: /dev/ttyUSB0
restart_method: command

[mcu CB1]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 2800
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 5
# Use those higher values just to configure Input Shaper 
#max_accel: 10000
#max_accel_to_decel: 10000

#####################################################################
#	X/Y/Z Stepper Settings
#####################################################################

[stepper_x]
step_pin: !PC12
dir_pin: PB3
enable_pin: !PD2
microsteps: 64
rotation_distance: 39.74
endstop_pin: PA13
position_endstop: -6.0
position_min: -6
position_max: 320
homing_speed: 100

[stepper_y]
step_pin: PC11
dir_pin: PA15
enable_pin: !PC10
microsteps: 64
rotation_distance: 39.83
endstop_pin: PB8
position_endstop: 0
position_max: 320
homing_speed: 50

[stepper_z]
step_pin: PC7
dir_pin: !PC9
enable_pin: !PC8
rotation_distance: 7.99
microsteps: 64
position_min: -2
position_max: 400
endstop_pin: probe:z_virtual_endstop # Use Z- as endstop
homing_speed: 10
homing_retract_speed: 15

#####################################################################
# 	Extruder
#####################################################################

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB10
dir_pin: PB1
enable_pin: !PC6
microsteps: 64
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA6
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 250
# Calibrate E-Steps https://www.klipper3d.org/Rotation_Distance.html#calibrating-rotation_distance-on-extruders
rotation_distance: 6.8341
# Formula : rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / <requested_extrude_distance>
# Calibrate PID: https://www.klipper3d.org/Config_checks.html#calibrate-pid-settings
#  - Example: PID_CALIBRATE HEATER=extruder TARGET=200
control = pid
pid_kp = 29.083
pid_ki = 2.203
pid_kd = 95.975
# Calibrate PA: https://www.klipper3d.org/Pressure_Advance.html
pressure_advance = 0.08
pressure_advance_smooth_time: 0.04

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
pwm_cycle_time: 0.020 # set to 0.0166 if your grid runs on 60Hz to fix lights flickering
max_temp: 110
min_temp: 0
# Calibrate PID: https://www.klipper3d.org/Config_checks.html#calibrate-pid-settings
#  - Example: PID_CALIBRATE HEATER=heater_bed TARGET=60
control = pid
pid_kp = 69.620
pid_ki = 0.792
pid_kd = 1529.909

#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
pin: PB0
heater: extruder
heater_temp: 50.0

[fan]
pin: PA7

#####################################################################
# 	Probe
#####################################################################

[safe_z_home]
home_xy_position: 160, 160
z_hop: 10

[probe]
pin: ^PA8
speed: 5
lift_speed: 15
samples: 1
x_offset: -28
y_offset: 20
# Calibrate probe: https://www.klipper3d.org/Bed_Level.html
# - Example: PROBE_CALIBRATE, then adjust with TESTZ Z=+/-X
z_offset = 2.152

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 22,22
mesh_max: 290,315
probe_count: 7,7
fade_start: 1.0
fade_end: 10.0
algorithm: bicubic

#####################################################################
# 	LED Control
#####################################################################

#[led LED_Light]
#white_pin: PB9
#initial_white: 1.0

[output_pin LED_Light] #toggle for LED Light - use this instead of [LED] for sonic pad
Pin: PB9
cycle_time: 0.01
pwm: true
value: 1

[gcode_macro LED_ON]
description: Turn on Hotend LEDs
gcode:
  SET_PIN PIN=LED_Light VALUE=1


[gcode_macro LED_OFF]
description: Turn off Hotend LEDs
gcode:
  SET_PIN PIN=LED_Light VALUE=0


#####################################################################
# Filament sensor
#####################################################################

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: PB4

#####################################################################
# Acceleration sensor
#####################################################################

[adxl345]
cs_pin: CB1:None
spi_bus: spidev1.1
axes_map: z,y,x 

[resonance_tester]
accel_chip: adxl345
probe_points: 165, 165, 50

[input_shaper]
# Calibrate IS: https://www.klipper3d.org/Resonance_Compensation.html
shaper_type_y = 2hump_ei
shaper_freq_y = 50.4
shaper_type_x = mzv
shaper_freq_x = 63.6

#####################################################################
# 	TEMP Sensor
#####################################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
#min_temp: 10
#max_temp: 105

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
sensor_temperature1: 25
sensor_adc1: 0.210317
#min_temp: 0
#max_temp: 105

#####################################################################
# 	Other
#####################################################################

[screws_tilt_adjust]
screw1: 65, 13
screw1_name: left front screw
screw2: 65, 145
screw2_name: left middle screw
screw3: 65, 280
screw3_name: left back screw
screw4: 318, 13
screw4_name: right front screw
screw5: 318, 145
screw5_name: right middle screw
screw6: 318, 280
screw6_name: right back screw

[idle_timeout]
timeout: 72000

[force_move]
enable_force_move: True

#####################################################################
# 	Macros
#####################################################################

[gcode_macro START_PRINT] 
gcode:
    LED_ON
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(205)|float %}
    M140 S{BED_TEMP}  # Start bed heating
    M104 S{EXTRUDER_TEMP}  # Start Hotend heating
    G90  # Use absolute coordinates
    G28 # home
    G92 E0 # Reset Extruder
    G1 Z0.45 F300
    M190 S{BED_TEMP} # Wait for bed to reach temperature
    M109 S{EXTRUDER_TEMP}  # Set and wait for nozzle to reach temperature
    G1 X5.0 Y20 F5000.0  #Move to start position
    G1 Y120.0 F600.0 E15 # Draw the first line
    G1 X4.5 F1000.0 #Move to side a little
    G1 Y20 F600 E30 # Draw the second line   
    G92 E0  #eset Extruder
    BED_MESH_PROFILE LOAD=default

[gcode_macro END_PRINT]
gcode:
    G91 #Relative positionning
    G1 E-2 F2700 #Retract a bit
    G1 E-8 X5 Y5 Z3 F3000 #Retract
    G90 #Absolute positionning
    G1 X0 Y300 # Present print
    M106 S0 # Turn-off fan
    M104 S0 #Turn-off hotend
    M140 S0 # Turn-off bed
    M84 X Y E # Disable all steppers but Z
    LED_OFF

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    TURN_OFF_HEATERS
    CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    PAUSE_BASE
    G91
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}
    {% if "xyz" in printer.toolhead.homed_axes %}
      G1 Z{z_safe} F900
      G90
      G1 X{x_park} Y{y_park} F6000
    {% else %}
      {action_respond_info("Printer not homed")}
    {% endif %} 
    
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    #### get VELOCITY parameter if specified ####
    {% if 'VELOCITY' in params|upper %}
      {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
    {%else %}
      {% set get_params = "" %}
    {% endif %}
    ##### end of definitions #####
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G91
      G1 E{E} F2100
    {% else %}
      {action_respond_info("Extruder not hot enough")}
    {% endif %}  
    RESUME_BASE {get_params}

[gcode_macro MANUAL_LEVEL]
description: Home and measure for maunual leveling adjustments
gcode:
  G28
  SCREWS_TILT_CALCULATE
  G90
  G1 F3000 X213 Y213 Z25 

[gcode_macro LOAD_BED_MESH]
description: Load the current mesh
gcode:
  BED_MESH_PROFILE LOAD=default
  
[gcode_macro BED_LEVELING]
description: creates automated homing and bed mesh
gcode:
  G28
  BED_MESH_CALIBRATE
  SAVE_CONFIG

[gcode_macro PID_EXTRUDER]

gcode:
  PID_CALIBRATE HEATER=extruder TARGET=210
  SAVE_CONFIG

[gcode_macro PID_BED]
gcode:
  PID_CALIBRATE HEATER=heater_bed TARGET=60
  SAVE_CONFIG


